{% load static %}
<header id="header" class="fixed-top ">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="logo-container text-center">
                    <div class="col-lg-6">
                        <!--<h1 class="logo"><a href="{% url 'home' %}">Data Sieger</a></h1> -->
                        <!-- Uncomment below if you prefer to use an image logo -->
                        <a href="{% url 'home' %}" class=""><img src="{% static 'img/l83.png' %}" alt="" class="img-fluid"
                                                                 width="300" height="auto"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="navbar-container">
                    <nav id="navbar" class="navbar">
                        <ul>
                            <li><a class="nav-link scrollto" href="{% url 'home' %}#services">Services</a></li>
                            <li><a class="nav-link scrollto" href="{% url 'home' %}#skills">Skills</a></li>
                            <li><a class="nav-link scrollto" href="{% url 'home' %}#portfolio">Case Study</a></li>
                            <li><a class="nav-link scrollto" href="{% url 'home' %}#courses">Courses</a></li>
                            <li><a class="nav-link scrollto" href="{% url 'home' %}#blog">Blog</a></li>
                            <li><a class="nav-link scrollto" href="{% url 'home' %}#about">About</a></li>
                            <li><a class="nav-link scrollto" href="{% url 'home' %}#contact">Contact</a></li>
                            <!-- <li><a class="nav-link scrollto {% if '#' in request.get_full_path and 'about' in request.get_full_path %}active{% endif %}" href="{% url 'home' %}#about">About</a></li> -->
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->
                </div>
            </div>
        </div>
    </div>


</header><!-- End Header -->