{% extends 'basichtml/base.html' %}
{% load static %}

<head>
    {% block title%}
    <title> About </title>
    {% endblock%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% block content %}

<section id="hero" class="d-flex align-items-center" style="height: 170px; "></section>


<section id="about2" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>About</h2>
        </div>

        <div class="row content">
            <div class="col-lg-5 text-center">
                <br/><br/><br/><br/>
                <div class="section-title">
                    <h3>About Me</h3>
                </div>

                <p>
                    Greetings, I'm Mina. In my early days, I found myself entranced with the mysteries of the
                    Rubik’s Cube. One day I found a YouTube channel talking about this puzzle, and just in few days I
                    was able to solve it.</p>
                <p> This revelation dawned on me: every problem, every business challenge, mirrors a puzzle awaiting a
                    solution. Much like a Rubik’s Cube, it merely requires the right algorithm to unveil the
                    answers.</p>
                <p> Today, delving into the realm of data science, I collaborate with businesses to enhance their
                    operations, elevate efficiency, and optimize profits. My experience includes impactful projects with
                    Fortune 500 companies, such as reducing shipment lead times from 90 days to a swift 40 days by
                    recalibrating routes and hubs. </p>
                <p> Beyond data, I find joy in strategic gaming, with Yu-Gi-Oh ranking high among my favorites. This
                    complicated game, unlike chess, remains a captivating challenge where AI has yet to consistently
                    outmatch human prowess, at least that still gives us hope in human intelligence, right? </p>
                <p> Let's keep working together to solve tough problems and turn challenges into successes.
                </p>

<br/>
                <div class="section-title">
                    <h3>Who Are We?</h3>
                </div>

                <p>
                    At Data Sieger, we are more than a technology company; we are your partners in global business
                    evolution. Our unwavering commitment is to employ our expertise in technology to guide businesses
                    worldwide towards realizing their unique visions and goals.
                </p>
<br/>
                <div class="section-title">
                    <h3>Our Expertise</h3>
                </div>
                <p>
                    Specializing in digital transformation, data training, and operational efficiency, our role extends
                    beyond service providers. We see ourselves as integral partners in your success story, knowing that
                    your triumphs ultimately shape ours.
                </p>
                <br/>
                <div class="section-title">
                    <h3>Our Approach</h3>
                </div>
                <p>
                    Running a business can be overwhelming, with countless decisions and options to navigate. Through
                    the
                    lens of data analysis and data science, we aim to alleviate that stress by offering you a clearer
                    vision of the market landscape and the impact of your decisions.
                </p>
                <br/>
                <div class="section-title">
                    <h3>What's in it for You?</h3>
                </div>
                <p>
                    Embark on a journey with us that starts with a complimentary consultation call. After a thorough
                    assessment, we provide insights into points of improvement and the services that can elevate your
                    business. The choice is yours:
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> <strong> If you prefer your team to take the lead, explore
                        our diverse range of courses covering all your business needs here.
                    </strong></li>
                    <li><i class="ri-check-double-line"></i> <strong>If outsourcing the technical aspects is more your
                        style, we manage the end-to-end technicalities, sparing you the hassles of hiring and retention.
                    </strong></li>
                    <li><i class="ri-check-double-line"></i> <strong>If a comprehensive review of your operations is
                        what you seek, we deliver solutions tailored to your business needs.
                    </strong></li>
                </ul>
                <p>In every case, it's a stride towards a more efficient operation and a refined business model. Secure
                    your free consultation call by filling out the form here.
                </p>


            </div>

            <div class="col-lg-7 text-center">
                <img src="{% static 'img/about/3.jpg' %}" alt="Image Description"
                     style="width: 100%; height: auto; object-fit: contain; ">
                <br/>
                <br/>
                <div class='container' style=" width: 600px; overflow: hidden;">
                    <img src="{% static 'img/about/5.jpg' %}" alt="Image Description"
                         style="width: 100%; height: auto; object-fit: contain; ">
                    <div class="tag">CIO Meeting Dubai 2022</div>
                </div>
                <br/>
                <div class='container' style=" width: 600px; overflow: hidden;">
                    <img src="{% static 'img/about/10.jpg' %}" alt="Image Description"
                         style="width: 100%; height: auto; object-fit: contain; ">
                    <div class="tag"> With Mr. Richard van der Meer Region Vice President & CIO at Nissan
                        Mr. Rolan Abi Najem CEO of Revotips - cybersecurity
                        Mr. Jawad Esmili Chief Information and Digital Officer (CIDO)
                        Mr. Joseph Fayad Corporate Director of IT.
                    </div>
                </div>
                <br/>

                    <img src="{% static 'img/about/4.jpg' %}" alt="Image Description"
                         style="width: 100%; height: auto; object-fit: contain; ">
                    <div class="tag">First award for global procurement & supply chain competition among
                        all orange affiliates.
                    </div>

            </div>
        </div>
    </div>
</section>


<section id="certificates" class="skills">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Certificates</h2>
        </div>
        <div class="swiper-container custom-swiper">
            <div class="swiper-wrapper">

                {% for image in image_list %}
                <div class="swiper-slide">
                    <a href="{% static 'img/certificates/' %}{{ image }}" data-lightbox="image">
                        <img src="{% static 'img/certificates/' %}{{ image }}" alt="{{ image }}"
                             class="bordered-image blog-lightbox preview-link">
                    </a>
                </div>
                {% endfor %}

                <!-- Add more swiper-slide divs for additional images -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section id="rndmfacts" class="cta" style="display: flex; justify-content: center;">
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 50px; color: white;">

        <div class="counter" data-target={{countries_visited}}>
            <h2 style="color: lightblue;">Cities Visited</h2>
            <span id="count" style="color: white;">0</span>
        </div>

        <div class="counter" data-target={{rubix_puzzles}}>
            <h2 style="color: lightblue;">Puzzles Solved</h2>
            <p><span id="count_coffee" style="color: white;">0</span></p>
        </div>

        <div class="counter " data-target={{years_of_experience}}>
            <h2 style="color: lightblue;">Years of Experience</h2>
            <p><span id="count_experience" style="color: white;">0</span></p>
        </div>

    </div>
</section>

{% endblock %}
</body>
