{% extends 'basichtml/base.html' %}
{% load static %}

<head>
    {% block title%}
        <title> Blog: Stay Updated with Our Latest Posts </title>
    {% endblock%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% block content %}
        <section id="hero" class="d-flex align-items-center" style="height: 170px; "></section>

        <section id="blog" class="blog section-bg">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Blog: Stay Updated with Our Latest Posts</h2>
              <p>Here you can find my articles about data, ML, AI, statics, and more</p>
            </div>

            <ul id="blog-flters" class="d-flex flex-wrap justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <li data-filter="*" class="filter-active">All</li>
              {% for choice in blog_choices %}
                <li data-filter=".{{ choice.0 }}">{{ choice.1 }}</li>
              {% endfor %}
            </ul>

            <div class="row blog-container" data-aos="fade-up" data-aos-delay="200">

              {% for blog in blogs %}
                  <div class="col-lg-4 col-md-6 blog-item {% for cat in blog.category%}' ' {{ cat }} ' ' {% endfor %} ">
                    <div class="blog-img"><img src=" {{ blog.photo.url }} " class="img-fluid" alt=""></div>
                      <div class="blog-info">
                        <h4 >{{ blog.title }}</h4>
                        <h4></h4>
                        <p> {{ blog.insight }} </p>
                <!--        <a href="{{ blog.photo.url }}" data-gallery="blogGallery" class="blog-lightbox preview-link"
                           title="{{ blog.insight }}"><i class="bx bx-plus"></i></a> -->
                        <a href="/blog/{{blog.id}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                      </div>
                  </div>
              {% endfor %}

            </div>

          </div>
        </section><!-- End Why Us Section -->


    {% endblock %}
</body>
