{% extends 'basichtml/base.html' %}
{% load static %}

<head>
    {% block title%}
    <title> Digital Transformation Services Overview</title>
    {% endblock%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% block content%}
<section id="hero" class="d-flex align-items-center" style="height: 170px; "></section>

<section id="about2" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Digital Transformation Services</h2>
            <p style="text-align: center;">Cut operational costs by up to 80% and boost productivity by 40% with
                automation.
                Additionally, automation can slash error rates by as much as 90%, providing more reliable reports and
                insights.</p>
            <br/>
            <h5>Please note that some faces have been blurred in certain photos to respect individuals' privacy. </h5>

        </div>
        <br/>
        <div class="row content">
            <div class="section-title">
                <h3>Why Choose Digital Transformation? </h3>
            </div>
            <div class="col-lg-5 ">
                <p><strong>Consider this scenario:</strong>
                    <br/>
                    <br/>
                    If a car provider lacks a computer and relies solely on manual,
                    paper-based processes, would you trust them with a transaction?
                    <br/>
                    <br/>
                    Even if their honesty is unquestionable, falling behind in technology can prove costly for your
                    business.
                    <br/>
                    <br/>
                    While using basic software may seem adequate, rapid technological advancements can render you
                    outdated.
                    <br/>
                    <br/>
                    In a competitive landscape where rivals leverage advanced analysis software, machine learning, and
                    AI, failing to embrace new technologies puts you at a significant disadvantage.
                    <br/>
                    <br/>
                    The story of Nokia serves as a poignant example of the perils of neglecting innovation.</p>
            </div>
            <div class="col-lg-7">
                <img src="{% static 'img/digital/digital1.png' %}" alt="Touring the Huawei factory with the winning team of the global supply chain
                    competition, as a member of the victorious group."
                     style="width: 100%; height: auto; object-fit: contain; ">
                <div class="tag">Touring the Huawei factory with the winning team of the global supply chain
                    competition, as a member of the victorious group.
                </div>

            </div>
        </div>
        <br/><br/>
        <div class="row content">
            <div class="section-title">
                <h3>Services We Provide:</h3>
            </div>
            <div class="col-lg-7">
                <ul>
                    <li><i class="ri-check-double-line"></i> <strong> Database Solutions:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>If your business lacks a suitable database, we ensure
                                the creation of a robust, dependable database tailored to your specific needs.
                            </li>
                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Software Development:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>Customized software development to streamline and
                                optimize your business operations according to your unique requirements.
                            </li>
                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Data Analysis Services:</strong>
                        <p>A comprehensive suite of tools to help you gain valuable insights into your data and
                            business.</p>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>Exploratory Data Analysis (EDA)
                                <!--     <ul>
                                         <li><i class="ri-arrow-right-s-fill"></i>Summarizing and presenting historical data.
                                         </li>
                                         <li><i class="ri-arrow-right-s-fill"></i>Creating dashboards and visualizations for
                                             actionable insights.
                                         </li>
                                     </ul> -->
                            <li><i class="ri-arrow-right-line"></i>Diagnostic Analytics
                                <!--                                <ul>
                                                                    <li><i class="ri-arrow-right-s-fill"></i>Identifying patterns and trends in data.
                                                                    </li>
                                                                    <li><i class="ri-arrow-right-s-fill"></i>Conducting root cause analysis for specific
                                                                        outcomes.
                                                                    </li>
                                                                </ul> -->
                            <li><i class="ri-arrow-right-line"></i>Predictive Analytics
                                <!--       <ul>
                                           <li><i class="ri-arrow-right-s-fill"></i>Building models to forecast future trends.
                                           </li>
                                           <li><i class="ri-arrow-right-s-fill"></i>Developing predictive algorithms for
                                               informed decision support.
                                           </li>
                                       </ul> -->
                            <li><i class="ri-arrow-right-line"></i>Prescriptive Analytics
                                <!--         <ul>
                                             <li><i class="ri-arrow-right-s-fill"></i>Recommending actions based on analysis.
                                             </li>
                                             <li><i class="ri-arrow-right-s-fill"></i>Utilizing optimization modeling for
                                                 decision-making.
                                             </li>
                                             <li><i class="ri-arrow-right-s-fill"></i>Uncovering hidden patterns and
                                                 relationships.
                                             </li>
                                             <li><i class="ri-arrow-right-s-fill"></i>Statistical analysis to guide further
                                                 investigations.
                                             </li>
                                         </ul> -->
                            <li><i class="ri-arrow-right-line"></i>Inferential Statistics
                            </li>

                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Digital Strategy Development:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>Comprehensive Business Assessments:

                                <ul>
                                    <li><i class="ri-arrow-right-s-fill"></i>Identifying digital transformation
                                        opportunities through thorough assessments.
                                    </li>
                                </ul>
                            <li><i class="ri-arrow-right-line"></i>Tailored Digital Strategy:
                                <ul>
                                    <li><i class="ri-arrow-right-s-fill"></i>Formulating strategies aligned with
                                        business goals and market trends.
                                    </li>
                                </ul>
                            <li><i class="ri-arrow-right-line"></i>Key Performance Indicators (KPIs):
                                <ul>
                                    <li><i class="ri-arrow-right-s-fill"></i>Defining measurable KPIs to gauge the
                                        success of the transformation journey.
                                    </li>
                                </ul>
                        </ul>

                    <li><i class="ri-check-double-line"></i><strong>Process and Tasks Automation:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>Identify Automation Opportunities:
                                <ul>
                                    <li><i class="ri-arrow-right-s-fill"></i>Analyzing repetitive and manual processes
                                        for automation.
                                    </li>
                                </ul>
                            <li><i class="ri-arrow-right-line"></i>Implement needed automation:
                                <ul>
                                    <li><i class="ri-arrow-right-s-fill"></i>Save time and money by reducing workload,
                                        and increase efficiency .
                                    </li>
                                </ul>
                            </li>
                        </ul>
                </ul>


                <a href="#contact" class="btn-learn-more">Book it here</a>
            </div>
            <div class="col-lg-5">

                <img src="{% static 'img/digital/digital2.png' %}" alt="Touring ZTE with the team, delving into their latest supply chain technologies."
                     style="width: 100%; height: auto; object-fit: contain; ">
                <div class="tag">Touring ZTE with the team, delving into their latest supply chain technologies.</div>

                <br/>
                <img src="{% static 'img/digital/digital3.png' %}" alt="Compilation of the Excel analysis and reporting tools I've developed,
                    streamlining processes for enhanced efficiency and insights."
                     style="width: 100%; height: auto; object-fit: contain; ">
                <div class="tag">Compilation of the Excel analysis and reporting tools I've developed,
                    streamlining processes for enhanced efficiency and insights.
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row content">
            <div class="section-title">
                <h3>Why Choose Our Digital Transformation Services? </h3>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li><i class="ri-check-double-line"></i>Comprehensive Services: We offer a complete package covering strategy, analytics, automation, and more.
                    <li><i class="ri-check-double-line"></i>Experienced Team: Our highly skilled professionals are experts in digital transformation.
                    <li><i class="ri-check-double-line"></i>Proven Results: We have success stories and testimonials from satisfied clients.
                </ul>
            </div>
            <div class="col-lg-8">
                <img src="{% static 'img/digital/digital10.png' %}" alt="Interactive Tableau Dashboard to analyze USA demographics"
                     style="width: 100%; height: auto; object-fit: contain; ">
                <div class="tag">Interactive Tableau Dashboard to analyze USA demographics.</div>

            </div>
        </div>
        <br/><br/>
        <div class="row content">
            <div class="section-title">
                <h3>We provide different types of training to cater to your preferences.</h3>
            </div>
            <div class="col-lg-7">
                <ul>
                    <li><i class="ri-check-double-line"></i> <strong> Live Training: </strong>
                        <ul>
                            <li>In-person, instructor-led sessions.
                            <li>Interactive learning with hands-on exercises.
                        </ul>
                    <li><i class="ri-check-double-line"></i> <strong> Online Training: </strong>
                        <ul>
                            <li>Virtual sessions accessible from anywhere.
                            <li>Webinars and interactive online workshops.
                        </ul>
                    <li><i class="ri-check-double-line"> </i><strong> Hybrid Training: </strong>
                        <ul>
                            <li>Mix between live and online training for the best suitable option.
                        </ul>
                    <li><i class="ri-check-double-line"></i> <strong> For Training Companies: </strong>
                        <ul>
                            <li>We offer Third-Party Training Collaboration:
                            <li>If you're searching for a good trainer, we can provide trainers in all fields that
                                match your
                                needs.
                        </ul>
                </ul>
                <a href="#contact" class="btn-learn-more">Book it here</a>
            </div>
            <div class="col-lg-5">
                <img src="{% static 'img/digital/digital4.png' %}" alt="Engaging with 'alef' a leading chinese blockchain company"
                     style="width: 100%; height: auto; object-fit: contain; ">
                <div class="tag">Engaging with "alef" a leading chinese blockchain company</div>
            </div>
        </div>
        <br/><br/><br/>
        <div class="section-title">
            <h3>I don’t think investing in training is right for me?!</h3>
            <p>There's a common quote attributed to CFOs asking CEOs: <strong>"What happens if we invest in developing
                our people, and then they leave us?"</strong> The CEO responds,<strong>
                "What happens if we don’t, and they stay?"</strong></p>
            <br/>
            <p>
                Now, imagine having the next <strong> Elon Musk, Jeff Bezos, and Steve Jobs </strong> on your team—your
                company
                could be 100 times its current size, right?
            </p>
            <br/>
            <p>
                While Steve Jobs may not be a part of your team for obvious reasons, the
                good news is you have your current team, and perhaps one of them has the potential to surpass these
                names. Maybe all they
                need is a push to discover their potential.
            </p>
            <br/>
            <p>
                If you're seeking to enhance your team’s professional skills and boost their personal
                development, we've got you covered.
            </p>
        </div>
        <br/>
        <div class="section-title">
            <h3>How to Get Started?</h3>
            <h4>Contact us and initiate a value-added meeting to discuss your training needs.</h4>
            <br/>
            <a href="#contact" class="btn-learn-more">Contact Us</a>
            <br/>
        </div>

    </div>


    </div>
</section>


{% endblock%}
</body>
