{% extends 'basichtml/base.html' %}
{% load static %}

<head>
    {% block title%}
    <title> Operation Efficiency and ERP </title>
    {% endblock%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% block content%}
<section id="hero" class="d-flex align-items-center" style="height: 170px; "></section>

<section id="about2" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Operation Efficiency and ERP</h2>
            <p style="text-align: center;">Increase your cost savings by around 46% and get more efficient transactions
                by around 40% <a href="https://softwareconnect.com/erp/statistics/">read more about it here </a></p>
            <br/>
            <h5>Please note that some faces have been blurred in certain photos to respect individuals' privacy. </h5>
        </div>
        <br/>
        <div class="row content">
            <div class="section-title">
                <h3>How We Improve Your Operations:</h3>
                <p>Harnessing technology is the key to optimizing work, saving both time and money, and achieving
                    the best outcomes. That's why we offer operational efficiency services.
                </p>
            </div>
            <div class="section-title">
                <h3>Our ERP Development Services:</h3>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li><i class="ri-check-double-line"></i> <strong> Design and Development:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>Customized ERP systems tailored to specific business
                                needs, designed in-house for your unique requirements.
                            </li>
                            <li><i class="ri-arrow-right-line"></i>Solutions aligned with industry requirements.</li>
                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Follow-Up and Maintenance:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>Ongoing maintenance and follow-up to ensure a
                                bug-free and efficient product.
                            </li>
                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Various Implementation Methods:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i> Options include robust software like Python, SQL
                                databases without hard coding, or user-friendly
                                Excel sheets for easy adjustment.
                            </li>
                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Workflow Analysis:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i> Pinpointing workflow modifications during ERP
                                development for enhanced efficiency.
                            </li>
                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Continuous Improvement Initiatives:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i> Implementing ongoing initiatives to sustain and
                                enhance operational efficiency.
                            </li>
                        </ul>
                    </li>
                </ul>


                <br/>
                <br/>
                <br/>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'img/erp/erp1.jpg' %}" alt="Certificate proudly showcasing first place win in the
                global Orange supply chain competition."
                     style="width: 100%; height: auto; object-fit: contain; ">
                <div class="tag">Certificate proudly showcasing first place win in the global Orange supply chain
                    competition.
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row content">
            <div class="section-title">
                <h3>Why Choose Our Operation Efficiency and ERP Development Services? :</h3>
            </div>
            <div class="col-lg-7 ">
                <ul>
                    <li><i class="ri-check-double-line"></i> <strong> Expertise and Experience:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>Highly skilled professionals with extensive
                                experience in ERP development, proficient with various databases and prediction
                                software.

                            </li>
                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Tailored Solutions:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>Ongoing maintenance and follow-up to ensure a
                                bug-free and efficient product.
                            </li>
                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Various Implementation Methods:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i> Customized solutions to meet specific business and
                                industry needs, avoiding generic approaches.
                            </li>
                        </ul>
                    </li>

                    <li><i class="ri-check-double-line"></i> <strong> Comprehensive Support:</strong>
                        <ul>
                            <li><i class="ri-arrow-right-line"></i> Ongoing support and training for a seamless ERP
                                experience.
                            </li>
                        </ul>
                    </li>

                </ul>
                <a href="#contact" class="btn-learn-more">Book it here</a>
            </div>
            <div class="col-lg-4 ">
                <img src="{% static 'img/erp/erp2.png' %}" alt="Graphs illustrating stock performance metrics, including sales velocity and value-based
                    item categorization."
                     style="width: 100%; height: auto; object-fit: contain;">
                <img src="{% static 'img/erp/erp3.png' %}" alt="Graphs illustrating stock performance metrics, including sales velocity and value-based
                    item categorization."
                     style="width: 100%; height: auto; object-fit: contain;">
                <div class="tag">Graphs illustrating stock performance metrics, including sales velocity and value-based
                    item categorization.
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row content">
            <div class="section-title">
                <h3>Does Operational Efficiency Really Matter?</h3>
            </div>
            <div class="col-lg-6 ">
                <p>In 1962,<strong> Proctor and Gamble</strong> offered a $10,000 prize for solving a seemingly simple
                    problem:
                    <br/>
                    <strong> Finding the shortest way a salesman could travel across all states of the USA.</strong>
                    <br/><br/>
                    While this problem may appear easy, the sheer complexity demonstrates that strategic thinking and
                    efficient
                    operation planning can save both time and money.
                    <br/>
                    <br/>
                    Although brute force methods may not crack the
                    code, strategic thinking and development can yield suitable solutions—this encapsulates the
                    essence of operational efficacy.
                </p>
            </div>
            <div class="col-lg-5 ">
                <img src="{% static 'img/erp/erp4.png' %}" alt="Compilation of the Excel analysis and reporting tools I've developed,
                    streamlining processes for enhanced efficiency and insights."
                     style="width: 100%; height: auto; object-fit: contain; ">
                <div class="tag">Compilation of the Excel analysis and reporting tools I've developed,
                    streamlining processes for enhanced efficiency and insights.
                </div>
            </div>
        </div>
        <br/><br/><br/>

        <div class="row content">
            <div class="col-lg-7 ">
                <div class="section-title">
                    <h3>How to Get Started?</h3>
                    <p>Contact us and initiate a value-added meeting to discuss your operation efficiency and ERP
                        development needs.</p>
                    <br/>
                    <a href="#contact" class="btn-learn-more">Contact Us</a>
                </div>
            </div>
            <div class="col-lg-5 ">
                <img src="{% static 'img/erp/erp5.png' %}"
                     alt="A Photo capturing Orange warehouse operations during the outsourcing process."
                     style="width: 100%; height: auto; object-fit: contain; ">
                <div class="tag">A Photo capturing Orange warehouse operations during the outsourcing process.
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock%}
</body>
