{% extends 'basichtml/base.html' %}
{% load static %}

<head>
    {% block title%}
    <title>Data Sieger</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% block content%}
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                 data-aos="fade-up"
                 data-aos-delay="200">
                <h1>Growing businesses through data.</h1>
                <h2>with our technical expertise, and allow you to focus your effort on the operation.</h2>

                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#contact" class="btn-get-started scrollto">Get Started</a>

               <!--     <a href="https://www.youtube.com/@minanessim" class="glightbox btn-watch-video"><i
                            class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'img/mina.png' %}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>

<main id="main">

    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Services</h2>
                <p>Empowering Your Business Growth with Tailored Solutions and Expert Consultation.</p>
            </div>

            <div class="row">
                <div class="col-xl-4 col-md-4   d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                     data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-code-block"></i></div>
                        <h4><a href="{% url 'digital' %}">Digital Transformation Consultancy</a></h4>
                        <p>Guiding businesses using figures and numbers for optimization, efficiency, and growth.</p>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4   d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                     data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-chalkboard"></i></div>
                        <h4><a href="{% url 'training' %}">Data Training</a></h4>
                        <p>Offering courses to empower individuals with data analysis and machine learning skills.</p>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4   d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-wrench"></i></div>
                        <h4><a href="{% url 'erp' %}">Operational Excellence</a></h4>
                        <p>Enhancing workflows, processes, and supply chain logistics for optimized performance and
                            streamlined
                            operations.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="skills" class="skills">
        <div class="container " data-aos="fade-up">
            <div class="section-title">
                <h2>Tech Stack</h2>
            </div>
            <div class="legend">
                <div class="legend-item legend-coding-skills">
                    <span></span> Coding Languages
                </div>
                <div class="legend-item legend-data-analysis-viz">
                    <span></span> Data Analysis and Visualization
                </div>
                <div class="legend-item legend-statistical-skills">
                    <span></span> Statistical Skills
                </div>
                <div class="legend-item legend-machine-learning-ai">
                    <span></span> Machine Learning
                </div>
                <div class="legend-item legend-data-science-tools-libraries">
                    <span></span> Python Libraries
                </div>
                <div class="legend-item legend-operations-management">
                    <span></span> Operations and Management
                </div>
            </div>
            <div class="bubble-chart">
                <div class="category">
                    <div class="bubble coding-skills" data-skill="Python">Python</div>
                    <div class="bubble coding-skills" data-skill="VBA">VBA</div>
                    <div class="bubble coding-skills" data-skill="M">M</div>
                    <div class="bubble coding-skills" data-skill="DAX">DAX</div>
                    <div class="bubble coding-skills" data-skill="SQL">SQL</div>

                    <div class="bubble data-analysis-viz" data-skill="Tableau">Tableau</div>
                    <div class="bubble data-analysis-viz" data-skill="Power BI">Power BI</div>
                    <div class="bubble data-analysis-viz" data-skill="Advanced Excel">Advanced Excel</div>
                    <div class="bubble data-analysis-viz" data-skill="QlikView">QlikView</div>
                    <div class="bubble data-analysis-viz" data-skill="Oracle">Oracle</div>

                    <div class="bubble statistical-skills" data-skill="Probability Theory">Probability Theory</div>
                    <div class="bubble statistical-skills" data-skill="Multivariate Analysis">Multivariate Analysis
                    </div>
                    <div class="bubble statistical-skills" data-skill="A/B and Hypothesis Testing">A/B and Hypothesis
                        Testing
                    </div>
                    <div class="bubble statistical-skills" data-skill="Regression Techniques">Regression Techniques
                    </div>
                    <div class="bubble statistical-skills" data-skill="Data Modeling">Data Modeling</div>
                    <div class="bubble statistical-skills" data-skill="Statsmodels">Statsmodels</div>

                    <div class="bubble machine-learning-ai">Artificial Intelligence (AI)</div>
                    <div class="bubble machine-learning-ai">Computer Vision</div>
                    <div class="bubble machine-learning-ai">NLP</div>
                    <div class="bubble machine-learning-ai">Supervised Learning</div>
                    <div class="bubble machine-learning-ai">Unsupervised Learning</div>
                    <div class="bubble machine-learning-ai">Scikit-learn</div>
                    <div class="bubble machine-learning-ai">TensorFlow</div>
                    <div class="bubble machine-learning-ai">Deep Learning</div>
                    <div class="bubble machine-learning-ai">PyTorch</div>

                    <div class="bubble data-science-tools-libraries">Pandas</div>
                    <div class="bubble data-science-tools-libraries">NumPy</div>
                    <div class="bubble data-science-tools-libraries">Matplotlib</div>
                    <div class="bubble data-science-tools-libraries">Scrapy</div>
                    <div class="bubble data-science-tools-libraries">BeautifulSoup</div>
                    <div class="bubble data-science-tools-libraries">Selenium</div>
                    <div class="bubble data-science-tools-libraries">Django</div>
                    <div class="bubble data-science-tools-libraries">Flask</div>

                    <div class="bubble operations-management">Project Management</div>
                    <div class="bubble operations-management">Supply & Demand</div>
                    <div class="bubble operations-management">Performance Metrics & KPIs</div>
                    <div class="bubble operations-management">Supply Chain Operations</div>
                    <div class="bubble operations-management">Logistics Management</div>
                    <div class="bubble operations-management">Stock Management</div>
                    <div class="bubble operations-management">Enterprise Resource Planning (ERP)</div>
                    <div class="bubble operations-management">Training</div>

                </div>

                <br/>
            </div>
        </div>
    </section>

    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Case Studies</h2>
                <p>Showcasing Our Journey Through Projects and Innovations.</p>
            </div>
            <!--
            <ul id="portfolio-flters" class="d-flex flex-wrap justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <li data-filter="*" class="filter-active">All</li>
              {% for choice in choices %}
                <li data-filter=".{{ choice.0 }}">{{ choice.1 }}</li>
              {% endfor %}
            </ul> -->
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                {% for port in specific_portfolio %}
                <div class="col-lg-4 col-md-6 portfolio-item {% for cat in port.category%}' ' {{ cat }} ' ' {% endfor %} ">
                    <div class="portfolio-img"><img src=" {{ port.photo.url }} " class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>{{ port.title }}</h4>
                        <h4></h4>
                        <p> {{ port.insight }} </p>
<!--                        <a href="{{ port.photo.url }}" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link"
                           title="{{ port.insight }}"><i class="bx bx-plus"></i></a> -->
                        <a href="/portfolio/{{port.id}}" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br/> <br/>
            <div class="text-center">
                <a href="casestudy" class="btn btn-learn-more mx-auto">View more of our projects</a>
            </div>
        </div>
    </section>

    <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Courses</h2>
                <div class="container mx-auto text-center">
                    <div class="row courses-container ">
                        <div class="col-lg-12">
                            <h4 class="center-text">Courses in progress, For now please check all courses on <strong> <a href ="https://www.youtube.com/@minanessim"> YouTube Channel </a></strong></h4>
                        </div>
                        <!--
                          <div class="col-lg-4 col-md-6 course-item filter-excel">
                            <div class="course-img"><img src=" {% static 'img/courses/excel-1.png' %} " class="img-fluid" alt="Excel 1">
                            </div>
                            <div class="course-info">
                              <h4>Excel for beginners</h4>
                              <p>Excel</p>
                              <a href="{% static 'img/courses/excel-1.png' %}" data-gallery="coursesGallery"
                                 class="course-lightbox preview-link" title="Excel for beginners"><i class="bx bx-plus"></i></a>
                              <a href="course-details.html" class="details-link" title="More Details">
                                <i class="bx bx-link"></i>
                              </a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 course-item filter-excel">
                            <div class="course-img"><img src=" {% static 'img/courses/excel-2.png' %} " class="img-fluid" alt="Excel 2">
                            </div>
                            <div class="course-info">
                              <h4>Excel for intermediate</h4>
                              <p>Excel</p>
                              <a href="{% static 'img/courses/excel-2.png' %}" data-gallery="coursesGallery"
                                 class="course-lightbox preview-link" title="Excel for intermediate"><i class="bx bx-plus"></i></a>
                              <a href="course-details.html" class="details-link" title="More Details">
                                <i class="bx bx-link"></i>
                              </a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 course-item filter-excel">
                            <div class="course-img"><img src=" {% static 'img/courses/excel-3.png' %} " class="img-fluid" alt="Excel 3">
                            </div>
                            <div class="course-info">
                              <h4>Excel for experts</h4>
                              <p>Excel</p>
                              <a href="{% static 'img/courses/excel-3.png' %}" data-gallery="coursesGallery"
                                 class="course-lightbox preview-link" title="Excel for experts"><i class="bx bx-plus"></i></a>
                              <a href="course-details.html" class="details-link" title="More Details">
                                <i class="bx bx-link"></i>
                              </a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 course-item filter-cat2">
                            <div class="course-img"><img src=" {% static 'img/portfolio/portfolio-3.jpg' %}" class="img-fluid"
                                                         alt="Course 2 Image"></div>
                            <div class="course-info">
                              <h4>Course 2 Title</h4>
                              <p>Category 2</p>
                              <a href=" {% static 'img/portfolio/portfolio-3.jpg' %}" data-gallery="coursesGallery"
                                 class="course-lightbox preview-link" title="Course 2"><i class="bx bx-plus"></i></a>
                              <a href="course-details.html" class="details-link" title="More Details">
                                <i class="bx bx-link"></i></a>
                            </div>
                          </div>
                          -->
                    </div>
                </div>
            </div>
            <!--<ul id="courses-filters" class="d-flex justify-content-center">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-excel">Excel</li>
            <li data-filter=".filter-sql">SQL</li>
            <li data-filter=".filter-python">Python</li>
          </ul>-->
            <br/>
        </div>
    </section>

    <section id="blog" class="blog section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Blog</h2>
                <p>Here you can find my articles about data, ML, AI, statics, and more</p>
            </div>
            <!--
                        <ul id="blog-flters" class="d-flex flex-wrap justify-content-center" data-aos="fade-up"
                            data-aos-delay="100">
                            <li data-filter="*" class="filter-active">All</li>
                            {% for choice in blog_choices %}
                            <li data-filter=".{{ choice.0 }}">{{ choice.1 }}</li>
                            {% endfor %}
                        </ul>
            -->
            <div class="row blog-container" data-aos="fade-up" data-aos-delay="200">

                {% for blog in blogs|slice:":3" %}
                <div class="col-lg-4 col-md-6 blog-item {% for cat in blog.category%}' ' {{ cat }} ' ' {% endfor %} ">
                    <div class="blog-img"><img src=" {{ blog.photo.url }} " class="img-fluid" alt=""></div>
                    <div class="blog-info">
                        <h4>{{ blog.title }}</h4>
                        <h4></h4>
                        <p> {{ blog.insight }} </p>
                     <!--   <a href="{{ blog.photo.url }}" data-gallery="blogGallery" class="blog-lightbox preview-link"
                           title="{{ blog.insight }}"><i class="bx bx-plus"></i></a> -->
                        <a href="/blog/{{blog.id}}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                {% endfor %}


            </div>
            <br/><br/><br/>
            <div class="text-center">
                <a href="blog" class="btn btn-learn-more mx-auto">Read More Posts</a>
            </div>
        </div>
    </section><!-- End Why Us Section -->

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
            </div>

            <div class="section-title">
                <h3>Who are we?</h3>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Data Sieger is a company focused on using technology to help businesses evolve worldwide. Our
                        commitment
                        is
                        using our knowledge to help businesses achieve their vision and goals.
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        We specialize in digital transformation, data training, and operation efficiency, you can think
                        of us as a
                        partner in your success, because at the end your success is ours.
                    </p>
                    <a href="about" class="btn-learn-more">Read More About Us</a>
                </div>
            </div>
            <br/>

            <div class="section-title">
                <h3>About the founder</h3>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Hello, I’m Mina, back in the day, I was mesmerized by the mystery of solving The Rubik’s cube.
                        One YouTube
                        took me on a journey where something that seemed impossible became a puzzle I managed to solve.
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        I'm here to help your business thrive by leveraging data to its fullest potential.
                    </p>
                    <br/>
                    <a href="about" class="btn-learn-more">Read More about our Story</a>
                </div>
            </div>
        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counter Section =======-->
    <section id="rndmfacts" class="cta" style="display: flex ; justify-content: center;">
        <div style="display: flex; flex-wrap: wrap; gap: 50px; color: white;">

            <div class="counter" data-target=98>
                <h2 style="color: lightblue;">Average CSat</h2>
                <p>%<span id="count" style="color: white;">0</span></p>
            </div>

            <div class="counter" data-target=+{{reports}}>
                <h2 style="color: lightblue;">Reports and Dashboards Created</h2>
                <p>+<span id="count_coffee" style="color: white;">0</span></p>
            </div>

            <div class="counter " data-target={{years_of_experience}}>
                <h2 style="color: lightblue;">Years of Experience</h2>
                <p><span id="count_experience" style="color: white;">0</span></p>
            </div>
        </div>
    </section>

    <!-- ======= Clients Section ======= -->
    <!-- <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src= " {% static 'img/clients/client-1.png' %} " class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src=" {% static 'img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src=" {% static 'img/clients/client-3.png' %} " class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src=" {% static 'img/clients/client-4.png' %} " class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src=" {% static 'img/clients/client-5.png' %} " class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src=" {% static 'img/clients/client-6.png' %} " class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section> --> <!-- End Clients Section -->

    <!-- ======= Contact Section ======= -->
    <!--
    <section id="contact" class="contact">
      <div class='container'>
        <div class="section-title">
          <h2>Contact</h2>
          <p>
            Don't hesitate to get in touch!, whether you have questions, want to
            collaborate, or are unsure how to benefit from our services.
            Feel free to drop me a line using the form below, and I'll respond promptly, offering a complimentary
            consultation.
          </p>
        </div>
        <div class="row">
          <div class="col-md-3 text-center ">
            <div class="contact-info">
              <br/>
              <div class="info-item">
                <h2>You can Also:</h2>
                <br/><br/>
                <strong>Call On:</strong>
                <br/>
                <p>+971 58 +++++ <br> Mon-Fri: 9 AM - 6 PM (GST)</p>
              </div>
              <div class="info-item">
                <strong>Chat On Whatsapp:</strong>
                <br>
                <a href="https://wa.me/97158" target="_blank" rel="noopener noreferrer"
                   style="text-decoration: none; background-color: transparent;">
                  <img src="{% static 'img/sm/wa.png' %}" alt="Gmail" style="width: 40px; height: 40px;">
                </a>
              </div>
              <div class="info-item">
                <br>
                <strong>Send Email:</strong>
                <br>
                <a href="mailto:mina.s.nessim@gmail.com" target="_blank" rel="noopener noreferrer"
                   style="text-decoration: none; background-color: transparent;">
                  <img src="{% static 'img/sm/gmail.png' %}" alt="Gmail" style="width: 40px; height: 40px;">
                </a>
              </div>
              <div class="info-item">
                <br>
                <strong>Message on LinkedIn:</strong>
                <br>
                <a href="https://www.linkedin.com/in/mina-nessim/" target="_blank" rel="noopener noreferrer"
                   style="text-decoration: none; background-color: transparent;">
                  <img src="{% static 'img/sm/linkedin.png' %}" alt="LinkedIn" style="width: 40px; height: 40px;">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <form action="{% url 'contact_view' %}" method="post" role="form" class="php-email-form"
                  name="contact_form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Your Name</label>
                  {{ contact_form.name }}
                </div>
                <div class="form-group col-md-6">
                  <label>Your Email</label>
                  {{ contact_form.email }}
                </div>
              </div>
              <div class="form-group">
                <label>Subject</label>
                {{ contact_form.subject }}
              </div>
              <div class="row">
                <div class="form-group">
                  <label>Message</label>
                  {{ contact_form.message }}
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
-->

</main>

{% endblock%}
<div id="footer">

</div>
</body>