{% extends 'basichtml/base.html' %}
{% load static %}

<head>
    {% block title%}
    <title>Training Services</title>
    {% endblock%}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% block content%}
<section id="hero" class="d-flex align-items-center" style="height: 150px; "></section>


<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Training Services</h2>
        </div>
        <p>Increase your company’s productivity by 17% and retention rate by 45% through training that unlocks your
            employee’s full potential</p>

        <div class="section-title">
            <h3>Types of training we provide:</h3>
        </div>

        <ul>
            <li><i class="ri-check-double-line"></i> <strong> Ready-made Training: We know data inside out. </strong>
            </li>
            We’ve trained hundreds of employees on the below courses and achieved 99% CSAT and
            (fe ay metric tani leeh 3laka bel training?). We’ve perfected the below courses and are ready to train your
            team.
            <ul>
                <li> Data Analytics Fundamentals</li>
                <li> Excel Training (Beginner, Intermediate, Professional)</li>
                <li> Python Training (Beginner, Intermediate, Professional)</li>
                <li> Web Scraping</li>
                <li> Machine Learning</li>
                <li> Statistical Analysis</li>
            </ul>

            <li><i class="ri-check-double-line"></i> <strong>Customized Programs:Need something special? </strong></li>
            We get it. Some training programs are nuanced and need special prep. We’ve created tailor-made programs for
            [haga tani], [haga tani], and Fortune 500 companies such as Orange,
            Tell us more about your development goals in the consultation call and we’ll take it from there.
            Book it here
            Fun fact bubble: Companies with comprehensive employee training programs have 218% higher income per
            employee than companies without formalized training
        </ul>


        <div class="row content">
            <div class="col-lg-6">
                <p>
                    Data Sieger is a company focused on using technology to help businesses evolve worldwide. Our
                    commitment is
                    using our knowledge to help businesses achieve their vision and goals.
                </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    We specialize in digital transformation, data training, and operation efficiency, you can think of
                    us as a
                    partner in your success, because at the end your success is ours.
                </p>
                <a href="about" class="btn-learn-more">Read More About Us</a>
            </div>
        </div>
        <br/>

        <div class="section-title">
            <h3>About the founder</h3>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    Hello, I’m Mina, back in the day, I was mesmerized by the mystery of solving The Rubik’s cube. One
                    YouTube
                    took me on a journey where something that seemed impossible became a puzzle I managed to solve.
                </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    I'm here to help your business thrive by leveraging data to its fullest potential.
                </p>

                <a href="about" class="btn-learn-more">Read More about our Story</a>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->


Why Choose DataSieger?


We listen
We support
We care
We know
We take the time to understand what your company truly needs and align that with our training and material.
We offer follow-up online sessions to explain and support your employees after their training.
We provide a free assessment to determine if your company needs more advanced training to grow.
We didn’t read up on data or binge-watched YouTube tutorials. We know what we’re doing because we’ve worked in this
field for over 10 years.


We tailor to your needs.
We provide different types of training to cater to your preferences.
1. Live Training:
· In-person, instructor-led sessions.
· Interactive learning with hands-on exercises.
2. Online Training:
· Virtual sessions accessible from anywhere.
· Webinars and interactive online workshops.
3. Hybrid Training:
· Mix between live and online training for the best suitable option.
For Training Companies:
We offer Third-Party Training Collaboration:
If you're searching for a good trainer, we can provide trainers in all fields that match your needs.


“I don’t think investing in training is right for me”
There's a common quote attributed to CFOs asking CEOs: "What happens if we invest in developing our people and then they
leave us?" The CEO responds, "What happens if we don’t, and they stay?"
Now, imagine having the next Elon Musk, Jeff Bezos, and Steve Jobs on your team—your company could be 100 times its
current size, right? While Steve Jobs may not be a part of your team for obvious reasons, the good news is you have your
current team, and perhaps one of them has the potential to surpass these names. Maybe all they need is a push to
discover their potential.
If you're seeking to enhance your team’s professional skills and boost their personal development, we've got you
covered.
How to Get Started?
Contact us and initiate a value-added meeting to discuss your training needs.


{% endblock%}
</body>
